<mat-toolbar style="background-color:grey">
  <div [matMenuTriggerFor]="menu1">Menu1</div>
  <div>
    <mat-menu #menu1="matMenu">adsffg</mat-menu>
  </div>
  <div [matMenuTriggerFor]="menu2">Menu2</div>
  <div>
    <mat-menu #menu2="matMenu">addfdfsffg</mat-menu>
  </div>
  <mat-label>Select an option</mat-label>
  <mat-form-field appearance="fill">
    <mat-label>Select an option</mat-label>
    <mat-select [(ngModel)]="selected">
      <mat-option>None</mat-option>
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>
  
  <!-- <button
    style="position:absolute;right:10px"
    class="btn btn-primary"
    (click)="popup()"
  >
    Add to Cart({{ cartList.length }})
  </button> -->
</mat-toolbar>
<div class="container scroll">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let array of arrayList">
      <mat-expansion-panel-header>
        {{ array.title }}
      </mat-expansion-panel-header>
      <label>id: {{ array.id }}</label>
      <div>
        <button
          class="btn btn-warning"
          (click)="cart(array)"
          matTooltip="limit stock"
          matTooltipPosition="above"
        >
          Add to cart
        </button>
        <button
          style="margin-left:20px"
          class="btn btn-success"
          (click)="openSnack(array.title)"
        >
          Buy Now
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
