.scroll {
  height: 60vh;
  overflow-y: scroll;
  position:relative;
  bottom:20%;

}
::ng-deep .style {
  background-color: rgb(49, 12, 182);
}
.mat-toolbar {
  justify-content: space-between;
}
